.card {
  /* background-color: #f0f0f0; */
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h2 {
  margin: 10px 0;
  font-size: 18px;
  padding: 0 5px;
}

.card.active {
  outline: 4px solid #007bff; /* outline עדיף על border כי הוא לא מזיז את האלמנטים */
  transform: scale(1.05);
  z-index: 10;
  position: relative;
}
